<Page actionBarHidden="true"  class="app">
    <StackLayout>
    <Label class='city'  :text='listOfItems[this.selectedItem]' @tap='city()'/>
    <ScrollView orientation="vertical"> 
        <StackLayout class='forecast' orientation="vertical">
            <Image class='img' :src="imagePath" stretch="none" @tap='check()'/> 
            <label class='text'> Температура: {{weather.fact.temp}}, ощущается: {{weather.fact.feels_like}}</label>
            <label class='text'> Ветер {{weather.fact.wind_speed}} m/c, Влажность {{weather.fact.humidity}}%</label>
            <label class='text'> Давление {{weather.fact.pressure_mm}} мм рт. ст.</label>
        </StackLayout>
    </ScrollView>
    </StackLayout>
</Page>